<!DOCTYPE html>
<html lang="en" th="https://www.thymeleaf.org" th:replace="user/base_user::layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section>
        <div class="card mr-3 ml-3">
            <div class="card-body">
                <h2 class="text-center">Add Contact</h2>
                <div class="container-fluid mt-1">
                    <!--Alert message-->
                    <div th:if="${session.message}" th:classappend="${session.message.type}" class="text-center alert" role="alert">
                        <p th:text="${session.message.content}"></p>
                        <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                    </div>
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <form th:action="@{/user/do-add-contact}" th:object="${contact}" enctype="multipart/form-data" method="POST" class="mt-2">

                                <!--Name-->
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                    </div>

                                    <input type="text" name="name" id="name" class="form-control" placeholder="Enter full name" th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}" th:value="${contact.name}">
                                    <div th:each="e : ${#fields.errors('name')}" th:text="${e}" id="feedbackError" class="invalid-feedback">
                                    </div>
                                </div>

                                <!--nickname-->
                                <div class="input-group mt-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fas fa-user-alt"></i>
                                        </div>
                                    </div>

                                    <input type="text" name="nickname" id="nickName" class="form-control" placeholder="Enter nickname" th:value="${contact.nickname}">

                                </div>
                                <!--Phone number-->
                                <div class="input-group mt-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fas fa-phone-alt"></i>
                                        </div>
                                    </div>

                                    <input type="text" name="phone" id="phone" class="form-control" placeholder="Enter phone number" th:classappend="${#fields.hasErrors('phone') ? 'is-invalid' : ''}" th:value="${contact.phone}">
                                    <div th:each="e : ${#fields.errors('phone')}" th:text="${e}" id="feedbackError" class="invalid-feedback">
                                    </div>
                                </div>
                                <!--Work/office-->
                                <div class="input-group mt-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fas fa-briefcase"></i>
                                        </div>
                                    </div>

                                    <input type="text" name="work" id="work" class="form-control" placeholder="Enter work/office here" th:value="${contact.work}">

                                </div>

                                <!--Email-->
                                <div class="input-group mt-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fas fa-at"></i>
                                        </div>
                                    </div>

                                    <input type="text" name="email" id="email" class="form-control" placeholder="Enter Email" th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}" th:value="${contact.email}">
                                    <div th:each="e : ${#fields.errors('email')}" th:text="${e}" id="feedbackError" class="invalid-feedback">
                                    </div>

                                    <!--Address-->

                                    <div class="input-group mt-2">

                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fas fa-house-user"></i>
                                            </div>
                                        </div>

                                        <textarea type="text" name="address" id="address" rows="10" cols="30" class="form-control" placeholder="Enter your full address" th:text="${contact.address}"></textarea>
                                    </div>
                                    <!--image-->
                                    <div class="custom-file">
                                        <input type="file" name="profileImage" id="profileImage">
                                    </div>
                                    <div class="container text-center">
                                        <button type="submit" class="btn btn-primary bg-primary">Save Contact</button>
                                    </div>
                            </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
    </section>
</body>

</html>